{% extends 'base.html.twig' %}

{% block body %}
    <div id="add" style="display: none">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="container-fluid product-wrapper">
                            <div class="product-grid" style="padding-top: 15px;">
                                <div class="alert alert-success outline alert-dismissible fade show" id='info' style='display: none;' role="alert">
                                    Extensii: jpg, gif, png;<br> Rezolutie: 870/410 px.<br> Marime: maxim 2 Gb.
                                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" data-bs-original-title="" title=""></button>
                                </div>
                                <H5> {% if app.session.get('multilingv')=='da' %}
                                    <div class='nav-right col-6 pull-right right-header p-0' style='float:left;
                                width:50px;'>
                                        <ul class='nav-menus'>
                                            <li class='language-nav'>
                                                <div class='translate_wrapper'>
                                                    <div class='lang'>
                                                        <i class='flag-icon flag-icon-{{ app.session.get('presc_lang') }}'></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}Adauga banner
                                </H5>
                                <form method="post" action="" enctype="multipart/form-data">
                                    <input type="hidden" name="idp" value="<?= $_GET['idp'] ?>"/>
                                    <input type="hidden" name="add" value="da">
                                    <div class="admin-follow">
                                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 15px;">
										<span class="input-group-text" style="width: 170px !important;">
                        <a class='wow pulse infinite' data-bs-original-title='' title='' style="cursor: pointer;"
                                onclick="jQuery('#info').toggle(700)">
                            (<i class='icofont icofont-info'></i>)
                        </a>
          &nbsp;Imagine</span> <input type="file" name="img" class="form-control"/>
                                        </div>
                                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 15px;">
                                            <span class="input-group-text" style='width: 170px !important;'>Denumire</span>
                                            <input type="text" name="name" value="" autocomplete="off" class="form-control"/>
                                        </div>
                                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 15px;">
                                            <span class="input-group-text" style='width: 170px !important;'>Link</span>
                                            <input type="text" name="link" value="" autocomplete="off" class="form-control"/>
                                        </div>
                                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 15px;">
                                            <span class="input-group-text" style='width: 170px !important;'>Stare</span>

                                            <select name="activ" class="form-select form-control-primary">
                                                <option value="yes">
                                                Activ
                                                </option>
                                            </select>

                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success-gradien btn-lg" id="submit" style="float:left;margin-right:10px;">
                                                <i class="icofont icofont-plus"></i> &nbsp;&nbsp;&nbsp;Adauga&nbsp;&nbsp;&nbsp;
                                            </button>
                                            <button class="btn btn-secondary-gradien btn-lg" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="" onclick="jQuery('#add').toggle(700)" style="float:left;margin-bottom:20px;">
                                                <i class="icofont icofont-close"></i> Close
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="col-md-12 project-list wow BounceInUp">
        <div class="card">
            <div class="row">
                <div class="col-md-6 ">
                    <h5>
                        {% if app.session.get('multilingv')=='da' %}
                        <div class='nav-right col-6 pull-right right-header p-0' style='float:left;
                                width:50px;'>
                            <ul class='nav-menus'>
                                <li class='language-nav'>
                                    <div class='translate_wrapper'>
                                        <div class='lang'>
                                            <i class='flag-icon flag-icon-{{ app.session.get('presc_lang') }}'></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        Bannere
                    </h5>
                    <ul class="nav nav-tabs border-tab">
                        <li class="nav-item" style="margin-top:7px;">
                            Nr. bannere: {{ ban.getTotalItemCount }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-0 me-0"></div>
                    <button class="btn btn-primary-gradien"
                            onclick="jQuery('#add').toggle(700)"
                            data-bs-original-title=""
                            title="Apasa butonul pentru a adauga un banner">
                        <i class="icofont icofont-plus"></i> Adauga
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
    <div class="card">
    <div class="container-fluid product-wrapper">
    <div class="product-grid">
    <div class="feature-products">

  <div class="row">
            <div class="col-md-6 products-total" style="padding: 10px;">
                <div class="square-product-setting d-inline-block">
                    <a class="icon-grid grid-layout-view" href="#" data-original-title="" title=""><i data-feather="grid"></i></a>
                </div>
                <div class="square-product-setting d-inline-block">
                    <a class="icon-grid m-0 list-layout-view" href="#" data-original-title="" title=""><i data-feather="list"></i></a>
                </div>
                <span class="d-none-productlist filter-toggle"> Filters<span class="ms-2"><i class="toggle-data" data-feather="chevron-down"></i></span></span>
                <div class="grid-options d-inline-block">
                    <ul>
                        <li>
                            <a class="product-2-layout-view" href="#" data-original-title="" title=""><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a>
                        </li>
                        <li>
                            <a class="product-3-layout-view" href="#" data-original-title="" title=""><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a>
                        </li>
                        <li>
                            <a class="product-4-layout-view" href="#" data-original-title="" title=""><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  <div class="product-wrapper-grid">
    <div class="row">
        {% for b in ban %}
            <div class="col-xl-3 col-sm-6 xl-4">
                <div class="card">
                    <div class="product-box ">
                        <div class="product-img">

                            <img class="img-fluid" src="{{ asset('https://www.westbuy.ro/files/banner/' ~ b.img ) }}" alt="banner" >
                            <div class="product-hover">
                                <ul>
                                    <li>
                                        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="">
                                            <i class="icofont icofont-pencil-alt-5"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <form action="" method="get">
                                            <button class="btn" type="submit" name="delid" value="{{ b.id }}">
                                                <i class="icofont icofont icofont-ui-delete"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="product-box row">
                                            <div class="product-img col-lg-6">
                                                <img class="img-fluid" src="{{ asset('files/banner/' ~ b.img ) }}" alt="banner">
                                            </div>
                                            <div class="product-details col-lg-6 text-start">
                                                <div class="product-qnty">
                                                    <fieldset>
                                                        <div class="input-group">
                                                            <input class="touchspin text-center" type="text" value="5">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-2">
                                        <label>Status:</label><br>
                                        <form>
                                            <input type='hidden' name='id' value='{{ b.id }}'>
                                            <select name="activ" class="form-select form-control-success" style="width: 100px; " onchange="window.location='banner.php?id=<?= $r['id'] ?>&pag=<?= $_GET['pag'] ?>&activ='+this.options[this.selectedIndex].value">
                                                <option value="yes">
                                                Activ
                                                </option>
                                                <option value="no">
                                                Inactiv
                                                </option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-2" style="float:right;">
                                        <label>Pozitie:</label><br>
                                        <select name="poz" class="form-select form-control-primary" style="width: 80px;"  style="float: left;">
                                            {#<? for ($i = 0; $i <= $pozitie; $i++) { ?>
                                            <option value="<?= $i ?>" ><?= $i ?></option>
                                            <? } ?>#}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {{ knp_pagination_render(ban) }}

    </div></div>

    </div></div></div></div></div>
{% endblock %}