{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 project-list wow BounceInUp" style="visibility: visible; animation-name: bounceInUp;">
        <div class="card">
            <div class="row">
                <H5> Categorii</H5>
                <div class="col-md-6 ">
                    <ul class="nav nav-tabs border-tab">
                        <li class="nav-item" style="margin-top:7px;">Nr. categorii: {#{{ cat.getTotalItemCount }}#}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary-gradien" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adauga client" data-bs-original-title="" onclick="jQuery('#add').toggle(700)"><i data-feather="plus"></i> Adauga
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="basicScenario" class="jsgrid" style="position: relative; height: auto; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                    <tr class="jsgrid-header-row">
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center" style="width:50px;">Nr
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center">User
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center">Nume
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center">Telefon
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center" style="width:300px;">Email
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center" style="width:150px;">Comenzi
                        </th>
                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" align="center" style="width:150px;">Optiuni
                        </th>
                    </tr>
                    <tr class='jsgrid-header-row'>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center' >
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center'>
                            <form action='' method='get'>
                                <input type='text' name='user' class='form-control' value="<?= $_GET['user'] ?>" autocomplete='off' onsubmit='this.form.submit();' placeholder='text->enter' style='margin-top: 15px;'>
                            </form>
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center'>
                            <form action='' method='get'>
                                <input type='text' name='nume' class='form-control' value="<?= $_GET['nume'] ?>" autocomplete='off' onsubmit='this.form.submit();' placeholder='text->enter' style='margin-top: 15px;'>
                            </form>
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center'>
                            <form action='' method='get'>
                                <input type='text' name='tel' class='form-control' value="<?= $_GET['tel'] ?>" autocomplete='off' onsubmit='this.form.submit();' placeholder='text->enter' style='margin-top: 15px;'>
                            </form>
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center' >
                            <form action='' method='get'>
                                <input type='text' name='email' class='form-control' value="<?= $_GET['email'] ?>" autocomplete='off' onsubmit='this.form.submit();' placeholder='text->enter' style='margin-top: 15px;'>
                            </form>
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center' >
                        </th>
                        <th class='jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable' align='center' >
                            <a href="users.php" class="btn btn-light">Resetare</a>
                        </th>
                    </tr>
                    {% set key = 1 %}
                    {#{% for us in useri %}#}
                        <tr class="jsgrid-{% if key % 2 %}alt-{%  endif %}row wow bounceInDown">
                            <td class="jsgrid-cell jsgrid-align-center"  style="width:50px;">{#{{ loop.index }}#}</td>
                            <td class="jsgrid-cell jsgrid-align-center" >{#{{ us.user }}#} </td>
                            <td class="jsgrid-cell jsgrid-align-center" >

                            </td>
                            <td class="jsgrid-cell jsgrid-align-center" ><span style="user-select: all;">{#{{ us.tel }}#}</span></td>
                            <td class="jsgrid-cell jsgrid-align-center"  style="width:300px;"><span style='user-select: all;'>{#{{ us.mail }}#}</span></td>
                            <td class="jsgrid-cell jsgrid-align-center"  style="width:150px;">{#{{ us.orders.count }}#}</td>
                            <td class="jsgrid-cell jsgrid-align-center"  style="width:100px;">
                                <form action="" style="float: left; margin-right:10px;margin-left:10px;">
                                    <input type="hidden" name="edit" value="ok">
                                    <button class="jsgrid-button jsgrid-edit-button" type="submit" name="id" value="{#{{ us.id }}#}" title="Modifica user"></button>
                                </form>
                                <form action='' style='float: left;'>
                                    <button class="jsgrid-button jsgrid-delete-button" value="{#{{ us.id }}#}" type="submit" name="delid" title="Elimina user" data-bs-original-title="" data-bs-toggle="modal" onclick="return cfsterg()"></button>
                                </form>
                            </td>
                        </tr>
                    {#{% endfor %}#}
                </table>
            </div>
        </div>
    </div>
    {#{{ knp_pagination_render(useri) }}#}

{% endblock %}